<ion-content class="color">
  <ion-card class="card" style="margin-top: 15vh;">
    <ion-card-header>
      <ion-card-title class="textColor">{{ 'SecoundaryDriverEducation.title' | translate }} Ali {{ 'SecoundaryDriverEducation.title2' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='driverEducation'>
              <div class="toggle" (change)="changeStatus($event)">
                <div>
                  <input type="radio" formControlName="education" value="H" id='highSchool' />
                  <label for="highSchool">{{ 'Education.highSchool' | translate }}</label>
                </div>
                <div style="margin-top: 10px;">
                  <input type="radio" formControlName="education" value='A' id="associateDegree" />
                  <label for="associateDegree">{{ 'Education.associateDegree' | translate }}</label>
                </div>
                <div style="margin-top: 10px;">
                  <input type="radio" formControlName="education" value='B' id="bechelor" />
                  <label for="bechelor">{{ 'Education.bechelor' | translate }}</label>
                </div>
                <div style="margin-top: 10px;">
                  <input type="radio" formControlName="education" value='S' id="graduate" />
                  <label for="graduate">{{ 'Education.graduate' | translate }}</label>
                </div>
              </div>
            </form>
           
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-back-button defaultHref="/add-another-driver/relationship"></ion-back-button>
                  </div>
                  <div class="ion-text-end">
                    <ion-chip class="background" (click)="getUserEducationNextClick()" routerLink='/add-another-driver/is-employed'>
                      <ion-label class="text">{{ 'PRIMARY-NAME.next' | translate }}</ion-label>
                    </ion-chip>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
