<ion-content class="color">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="textColor">{{ 'Address.title' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='driverAddress'>
              <ion-input type="number" class="roundedInput" (input)="validateZipCode($event)" placeholder="{{ 'Address.zipCode' | translate }}" formControlName='zipCode'></ion-input>
              <div *ngIf="zipCodeError && !driverAddress.controls.zipCode.untouched"><p class="text-color-red error-message">* Invalid ZIP </p></div>
              <ion-input class="roundedInput input-lg" (input)="validateAddress($event)" formControlName='street' placeholder="{{ 'Address.streetAddress' | translate }}"></ion-input>
              <div *ngIf="addressError && !driverAddress.controls.street.untouched"><p class="text-color-red error-message">* Invalid Address</p></div>
            </form>
            <!--  -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-button fill="clear"  routerLink='/date-of-birth' routerDirection="back"> <small>{{ 'PRIMARY-NAME.back' | translate }} </small><ion-icon slot="start" name="arrow-back"></ion-icon> </ion-button>
                    <!-- <ion-back-button defaultHref="date-of-birth"></ion-back-button> -->
                  </div>
                  <div class="ion-text-end" *ngIf="addressError || zipCodeError">
                    <ion-button fill="clear"  (click)="getErrorTost()"><small>{{ 'PRIMARY-NAME.next' | translate }} </small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-chip class="background" (click)="getErrorTost()" >
                      <ion-label class="text">{{ 'Address.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                  
                  <div class="ion-text-end" *ngIf="!addressError && !zipCodeError">
                    <ion-button fill="clear"  (click)="getUserAddressNextClick()" routerLink='/contact-info'> <small> {{ 'PRIMARY-NAME.next' | translate }} </small><ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-chip class="background" (click)="getUserAddressNextClick()" routerLink='/contact-info'>
                      <ion-label class="text">{{ 'Address.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>