<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="flex">
    <ion-card style="align-self: center !important; width:99%;box-shadow:rgba(0, 0, 0, 0.0) 0px 4px 16px;">
      <div class="ion-text-center">
        <ion-progress-bar color='danger' value="0.3" style="margin-bottom: 3vh;"></ion-progress-bar>
      </div>
      <div style="align-self: flex-start !important; align-items: start; position: fixed; display: flow-root;">
        <ion-back-button defaultHref='/date-of-birth' slot="start"></ion-back-button>
      </div>
      <div class="ion-text-center">
        <img src="assets/icon/address.png" />
      </div>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Customer Info</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ 'Address.title' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]='driverAddress'>
        <ion-input type="number" class="roundedInput" (input)="validateZipCode($event)" placeholder="{{ 'Address.zipCode' | translate }}" formControlName='zipCode'></ion-input>
        <ion-input class="roundedInput input-lg capital" (input)="validateAddress($event)" formControlName='street' placeholder="{{ 'Address.streetAddress' | translate }}"></ion-input>
      </form>
    </ion-card-content>
    <ion-card-header>
      <ion-chip *ngIf="addressError || zipCodeError" class="disableNext" size="large" color="danger" (click)="getErrorTost()" >
        <ion-label class="next">{{ 'PRIMARY-NAME.next' | translate }}</ion-label>
      </ion-chip>
      <!-- Enable Button -->
      <ion-chip *ngIf="!addressError && !zipCodeError" class="enableNext" size="large"  (click)="getUserAddressNextClick()" routerLink='/contact-info' >
        <ion-label class="next">{{ 'PRIMARY-NAME.next' | translate }}</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-progress-bar color='danger' value="0.75"></ion-progress-bar>
  </ion-card>
</div>
</ion-content>