<ion-content class="color">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="textColor">{{ 'Date-of-birth.title' | translate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]='dateOfBirth'>
            <ion-datetime formControlName='dob' (ionChange)="validateDOB($event)" placeholder="{{ 'Date-of-birth.DateOfBirth' | translate }}" class="roundedInput"></ion-datetime>
            <div *ngIf="dateError"><p class="text-color-red">* {{ 'Date-of-birth.dateError' | translate }}</p></div>
            </form>
            <!--  -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-back-button defaultHref="primary-name"></ion-back-button>
                  </div>
                  <div class="ion-text-end" *ngIf="dateError">
                    <ion-chip class="background" (click)="getErrorTost()">
                      <ion-label class="text">{{ 'PRIMARY-NAME.next' | translate }}</ion-label>
                    </ion-chip>
                  </div>
                  <div class="ion-text-end" *ngIf="!dateError">
                    <ion-chip class="background" (click)='getUserDobNextClick()' routerLink='/address'>
                      <ion-label class="text">{{ 'Date-of-birth.next' | translate }}</ion-label>
                    </ion-chip>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
