<ion-content class="color" >
  <ion-card class="card">
    <ion-card-header >
      <ion-card-title class="textColor">{{ 'VIN.title' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <ion-grid >
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='vehicleInfo'>
              <ion-input class="roundedInput input-lg" placeholder="VIN" formControlName='vinNumber' (input)="validateVIN($event)"></ion-input>
              <div *ngIf="gettingDetailsByVIN"> 
                <ion-input readonly class="roundedInput input-lg" formControlName='year' ></ion-input>
                <ion-input readonly class="roundedInput input-lg" formControlName='make' ></ion-input>
                <ion-input readonly class="roundedInput input-lg" formControlName='model' ></ion-input>
            </div>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="ion-text-start" style="float: left;">
                      <ion-back-button defaultHref="add-vehicle"></ion-back-button>
                    </div>
                    <div class="ion-text-end">
                      <ion-chip class="background" routerLink='/miles-per-day' (click)="vehicleBasicInfoNextClick()" >
                        <ion-label class="text">{{ 'Accident.next' | translate }}</ion-label>
                      </ion-chip>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
