<ion-content class="color" >
  <ion-card class="card">
    <ion-card-header >
      <ion-card-title class="textColor">{{ 'AddVehical.title' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <ion-grid >
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <div class="toggle">
              <div>
                <input type="radio" name="Accident" value="accidentYes" (click)="link='/add-vehicle-by-vin'" id='accidentYes' [checked]='true' />
                <label for="accidentYes">{{ 'AddVehical.vin' | translate }}</label>
              </div>
              <div style="margin-top: 10px;">
                <input type="radio" name="Accident" value="accidentNo" (click)="link='/add-vehicle-by-year-make-model'" id="accidentNo" />
                <label for="accidentNo">{{ 'AddVehical.year' | translate }}</label>
              </div>
            </div>
             <!--   -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-back-button defaultHref="vehicle-splash"></ion-back-button>
                  </div>
                  <div class="ion-text-end">
                    <ion-chip class="background" [routerLink]="[link]">
                      <ion-label class="text">{{ 'Accident.next' | translate }}</ion-label>
                    </ion-chip>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
