<ion-content class="color" >
  <ion-card class="card">
    <ion-card-header >
      <ion-card-title class="textColor">{{ 'AddVehical.title' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <ion-grid >
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='vehicleInfo'>
              <div class="toggle" (change)="changeStatus($event)">
                <div>
                  <input type="radio" formControlName="entryVehicle" value="vin" id='add-by-VIN'  />
                  <label for="add-by-VIN">{{ 'AddVehical.vin' | translate }}</label>
                </div>
                <div style="margin-top: 10px;">
                  <input type="radio" formControlName="entryVehicle" value='year_make_model' id='add-by-model' />
                  <label for="add-by-model">{{ 'AddVehical.year' | translate }}</label>
                </div>
              </div>
              <!--   -->
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="ion-text-start" style="float: left;">
                      <ion-back-button defaultHref="vehicle-splash"></ion-back-button>
                    </div>
                    <div class="ion-text-end">
                      <ion-chip class="background" (click)="vehicleBasicInfoNextClick()" >
                        <ion-label class="text">{{ 'Accident.next' | translate }}</ion-label>
                      </ion-chip>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
