<ion-header>
  <ion-toolbar>
    <ion-title>my-quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #DCDCDC; padding-left: 0 !important; padding-right: 0 !important;">
    <ion-card  style="background:white;"  *ngFor="let i of quotesArray" >             
      <ion-card-content>
        <div class="ion-text-center">
            <ion-row style="display: flex;">
              <ion-col size="3" >
                <img src='assets/icon/insuranceCar.svg' style="width: 100% !important; padding-right: 16px !important; padding-top: 10px !important;" />
              </ion-col>
              <ion-col style="text-align: left; margin-top: 5px;">
                <p style="font-size: 1.2rem;"><b>{{i.itcQuoteId}}</b></p>
                <ion-badge color="danger" *ngFor='let single of i.quoteOffers'  style="margin-right: 2px; font-size: 1rem;">${{single}}</ion-badge>
                <P style="font-size: 1rem;"><span  *ngFor='let car of i.cars let in = index'> <span *ngIf='in !== 0' > <b>,</b></span> <b>{{car.model}} </b> </span></P>
              </ion-col>
            </ion-row>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
