<ion-header>
  <ion-toolbar>
    <ion-title>my-quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- My Quotes  -->
<!-- <div *ngFor="let i of quotesArray">
{{i.itcQuoteId}}
{{i.createdAt}}
<div *ngFor='let single of i.quoteOffers'>
{{single}}
</div>
</div> -->
<ion-card *ngFor="let i of quotesArray">
  <!-- <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header> -->
  <ion-card-content>
    <ion-row>
      <ion-col>{{i.itcQuoteId}}</ion-col>
      <ion-col>
        <ion-row>
          <ion-col *ngFor='let single of i.quoteOffers'>{{single}}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngFor='let status of createdAtArray' style="text-align: center;">
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <ion-badge *ngIf= 'status === "active"' color="success">active</ion-badge>
      <ion-badge *ngIf= 'status === "expire"' color="danger">expire</ion-badge>
      </ion-col>
      <ion-col></ion-col>
      
      <!-- <p *ngIf= 'status === "active"'>active</p> -->
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-content>
