<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="flex">
  <ion-card class="ion-card">
    <div class="ion-text-center">
      <ion-progress-bar color='danger' value="0.3" ></ion-progress-bar>
    </div>
    <div style="align-self: flex-start !important; align-items: start;display: table-cell !important;">
      <ion-back-button defaultHref='/home' slot="start"></ion-back-button>
    </div>
    <div class="ion-text-center">
      <img src="assets/icon/user-cloud.svg" />
    </div>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Customer Info</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ 'PRIMARY-NAME.title' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]='primaryName'>
        <ion-input class="roundedInput input-lg capital" (input)="validateFirstname($event)" style="padding-left: 10px; " formControlName='firstName' placeholder="{{ 'PRIMARY-NAME.firstName' | translate }}"></ion-input>
        <ion-input class="roundedInput capital" (input)="validateLastname($event)" formControlName='lastName' placeholder="{{ 'PRIMARY-NAME.lastName' | translate }}"></ion-input>
      </form>
    </ion-card-content>
    <ion-card-header>
      <ion-chip *ngIf="firstNameError || lastNameError" class="disableNext" size="large" color="danger" (click)="getErrorTost()" >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
      <!-- Enable Button -->
      <ion-chip *ngIf="!firstNameError && !lastNameError" class="enableNext" size="large"  (click)="getUserNameNextClick()" routerLink='/other-address' >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-progress-bar color='danger' value="0.25"></ion-progress-bar>
  </ion-card>
</div>
</ion-content>