<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div >
  <ion-card style="align-self: center !important; box-shadow:rgba(0, 0, 0, 0.0) 0px 4px 16px;">
    <div class="ion-text-center">
      <ion-progress-bar color='danger' value="0.75" style="margin-bottom: 3vh;"></ion-progress-bar>
      <div style="display: table-caption;">
        <ion-back-button defaultHref='/add-another-driver/education' slot="start"></ion-back-button>
      </div>
      <img src="assets/icon/employee.svg" />
    </div>
    <ion-card-header style="margin-bottom: 0px !important; padding-bottom: 0px !important; padding-top: 0px !important;">
      <ion-card-subtitle class="ion-text-center">{{ 'DInfo.dInfo' | translate }}</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ 'isEmployed.title2' | translate }} {{driverName}} {{ 'isEmployed.title3' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding-bottom:0px !important">
      <form [formGroup]='driverIsEmployed'>
        <div class="toggle" (ionChange)="changeStatus($event)">
          <ion-list>
            <ion-radio-group  value="anchovies">
              <ion-item>
                <label for="employed">{{ 'isEmployed.employ' | translate }}</label>
                <ion-radio slot="end" formControlName="employmentStatus" value="E" id='employed' color="danger"></ion-radio>
              </ion-item>
    
              <ion-item>
                <label for="unemployed">{{ 'isEmployed.other' | translate }}</label>
                <ion-radio slot="end" formControlName="employmentStatus" value='U' id='unemployed' color="danger"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
      </form>
    </ion-card-content>
    <ion-card-header style="margin-bottom: 0px !important; padding-bottom: 0px !important; padding-top: 0px !important;">
      <ion-chip *ngIf='!select' class="disableNext" size="large" color="danger" (click)="getErrorTost()" >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
      <!-- Enable Button -->
      <ion-chip *ngIf='select' class="enableNext" size="large" (click)="getDriverIsEmployedNextClick()" routerLink='/address' >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-progress-bar color='danger' value="0.80"></ion-progress-bar>
  </ion-card>
</div>
</ion-content>