<ion-content >
  <div class="flex">
  <ion-card style="align-self: center !important; width:99%;box-shadow:rgba(0, 0, 0, 0.0) 0px 4px 16px;">
    <div class="ion-text-center">
      <ion-progress-bar color='danger' value="0.5" style="margin-bottom: 3vh;"></ion-progress-bar>
      <img src="assets/icon/education.png" />
    </div>
    <ion-card-header style="margin-bottom: 0px !important; padding-bottom: 0px !important; padding-top: 0px !important;">
      <ion-card-subtitle class="ion-text-center">Customer Info</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ 'Education.title' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding-bottom:0px !important">
      <form [formGroup]='driverEducation'>
        <div class="toggle" (ionChange)="changeStatus($event)">
          <ion-list>
            <ion-radio-group allow-empty-selection value="driverEducation">
              <ion-item>
                <label >{{ 'Education.highSchool' | translate }}</label>
                <ion-radio slot="end" formControlName="education" color="danger" value="H"></ion-radio>
              </ion-item>
    
              <ion-item>
                <label >{{ 'Education.associateDegree' | translate }}</label>
                <ion-radio slot="end" formControlName="education" color="danger" value='A'></ion-radio>
              </ion-item>
    
              <ion-item>
                <label >{{ 'Education.bechelor' | translate }}</label>
                <ion-radio slot="end" formControlName="education" color="danger" value='B'></ion-radio>
              </ion-item>

              <ion-item>
                <label >{{ 'Education.graduate' | translate }}</label>
                <ion-radio slot="end" formControlName="education" color="danger"value='S'></ion-radio>
              </ion-item>          
            </ion-radio-group>
          </ion-list>
        </div>
      </form>
    </ion-card-content>
    <ion-card-header style="margin-bottom: 0px !important; padding-bottom: 0px !important; padding-top: 0px !important;">
      <ion-chip *ngIf='!select' class="disableNext" size="large" color="danger" (click)="getErrorTost()" >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
      <!-- Enable Button -->
      <ion-chip *ngIf='select' class="enableNext" size="large"  routerLink='/home-owner'(click)="getUserEducationNextClick()" >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-progress-bar color='danger' value="0.5"></ion-progress-bar>
  </ion-card>
</div>
</ion-content>