.cc-selector ion-img{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.visa{

}
// .mastercard{background-image:url(./../../assets/icon/spain.png);}

.cc-selector ion-img:active +.drinkcard-cc{opacity: .9;}
.cc-selector ion-img:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
.ios .overscroll .hydrated{
   --offset-top:0px !important;
    --offset-bottom:0px !important;
     --keyboard-offset:0px !important;
}
.overLay{
   // position: absolute;
   background-color: rgba(0, 0, 0, 0.8); 
   z-index: 1000;
   // border: 2px solid #EA2027;
}