<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="flex" >
  <ion-card style="align-self: center !important; box-shadow:rgba(0, 0, 0, 0.0) 0px 4px 16px;">
    <div class="ion-text-center">
      <ion-progress-bar color='danger' value="0.5" style="margin-bottom: 3vh;"></ion-progress-bar>
    </div>
    <div class="ion-text-center">
      <img src="assets/icon/mobile.svg" />
    </div>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Please enter your phone number</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]='loginNumber'>
        <ion-input class="roundedInput input-lg capital" 
        [brmasker]="{mask:'(000) 000-0000', len:14, type:'num'}"
        (keyup) = "validatePhone($event)"
        style="padding-left: 10px; " formControlName='phoneNo' >
      </ion-input>
      </form>
    </ion-card-content>
    <ion-card-header>
      <ion-chip *ngIf='validPhoneEnableDisabled' class="disableNext" size="large" color="danger" (click)="getErrorTost()" > 
        <ion-label class="next">NEXT</ion-label>
       </ion-chip>
      <ion-chip *ngIf='!validPhoneEnableDisabled' class="enableNext" size="large"  (click)="nextButtonClick()" > 
        <ion-label class="next">NEXT</ion-label>
       </ion-chip>
    </ion-card-header>
    <ion-progress-bar color='danger' value="0.5"></ion-progress-bar>
  </ion-card>
 
</div>
</ion-content>