<ion-header>
  <ion-toolbar>
    <ion-title>setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" style=" zoom: 1.2;" name="language-outline"></ion-icon>
      <ion-label >Language</ion-label>
      <ion-select value="{{selectedLanguage}}"  (ionChange)="onChange($event)" >
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="sp">Spanish</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
