<ion-content class="color">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="textColor">{{ 'accident.title' | translate }} {{driverName}} {{ 'accident.title2' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='accidentAsk'>
              <div class="toggle" (change)="changeStatus($event)">
                <div>
                  <input type="radio"  formControlName="accidentStatus" value="Y" id='accidentYes' />
                  <label for="accidentYes">{{ 'accident.yes' | translate }}</label>
                </div>
                <div style="margin-top: 10px;">
                  <input type="radio" formControlName="accidentStatus" value='N' id="accidentNo" />
                  <label for="accidentNo">{{ 'accident.no' | translate }}</label>
                </div>
              </div> 
            </form>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-button fill="clear"  routerLink='/add-another-driver/is-employed' routerDirection="back"> <small>{{ 'PRIMARY-NAME.back' | translate }} </small><ion-icon slot="start" name="arrow-back"></ion-icon> </ion-button>
                    <!-- <ion-back-button defaultHref="/add-another-driver/is-employed"></ion-back-button> -->
                  </div>
                  <div class="ion-text-end" *ngIf='!select'>
                    <ion-button fill="clear" (click)="getErrorTost()"><small>{{ 'PRIMARY-NAME.next' | translate }} </small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-chip class="background" (click)="getErrorTost()">
                      <ion-label class="text">{{ 'Education.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                  <div class="ion-text-end" *ngIf='select'>
                    <ion-button fill="clear" (click)="getUserAccidentInfoStatusNextClick()" routerLink='/add-another-driver'> <small>{{ 'PRIMARY-NAME.next' | translate }} </small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-button (click)="getUserAccidentInfoStatusNextClick()" routerLink='/add-another-driver'>{{ 'AddAnotherVehical.addAnotherVehicle' | translate }}</ion-button> -->
                    <!-- <ion-chip class="background" (click)="getUserAccidentInfoStatusNextClick()" routerLink='/add-another-driver'>
                      <ion-label class="text">{{ 'PRIMARY-NAME.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>