<ion-content class="color">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="textColor">{{ 'ContactInfo.title' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='contactInfo'>
              <ion-input type="email"   email class="roundedInput input-lg" (keyup)="validateEmail($event)" formControlName='email' placeholder="{{ 'ContactInfo.email' | translate }}"></ion-input>
              <div *ngIf="enableDisabled && !contactInfo.controls.email.untouched">
                <p class="text-color-red error-message">*{{ 'ContactInfo.email-inavlid' | translate }}</p>
            </div>
              <ion-input 
              type="number"
              mask="(000) 000-0000"
              formControlName='phone'
               (keyup) = "validatePhone($event)" class="roundedInput"  placeholder="{{ 'ContactInfo.phoneNo' | translate }}"></ion-input>
               <div *ngIf="validPhoneEnableDisabled &&!contactInfo.controls.phone.untouched">
                <p class="text-color-red error-message">*{{ 'ContactInfo.phone-inavlid' | translate }}</p>
            </div>
            </form>
            <!--  -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-button fill="clear"  routerLink='/address' routerDirection="back"> <small>{{ 'PRIMARY-NAME.back' | translate }} </small><ion-icon slot="start" name="arrow-back"></ion-icon> </ion-button>
                    <!-- <ion-back-button defaultHref="address"></ion-back-button> -->
                  </div>
                  <div class="ion-text-end"  *ngIf="validPhoneEnableDisabled || enableDisabled">
                    <ion-button fill="clear"  (click)="getErrorTost()"><small>{{ 'PRIMARY-NAME.next' | translate }}</small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-chip class="background"  (click)="getErrorTost()">
                      <ion-label class="text">{{ 'ContactInfo.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                  <div class="ion-text-end"  *ngIf="!validPhoneEnableDisabled && !enableDisabled">
                    <ion-button fill="clear"  routerLink='/driver-splash' (click)="getUserContactInfoNextClick()"><small>{{ 'PRIMARY-NAME.next' | translate }}</small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-chip class="background" routerLink='/driver-splash' (click)="getUserContactInfoNextClick()">
                      <ion-label class="text">{{ 'ContactInfo.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>