<ion-app>
  <ion-content>
    <ion-toolbar color="danger">
      <ion-buttons slot="primary">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button menu="custom"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <small>Veronica's Insurance</small>
      </ion-title>
    </ion-toolbar>
  </ion-content>
  <ion-menu side="start"  menuId="custom"  contentId="main" lines="none" class="my-custom-menu">
    <ion-header  style="height: 40vh; text-align: center;"  >
      <ion-avatar  style="display: block; height: 100px; width: 90px; margin-left: auto; margin-right: auto; margin-top: 6vh;">
        <img src="assets/icon/avatar.svg" style='height:13vh' >
      </ion-avatar>
      <h3 style="color: white; font-family: 'Open Sans', sans-serif !important">Shahzad Ali </h3>
      <p style="color: white;">03086111049</p>
    </ion-header>
    <ion-content >
      <ion-list no-lines >
        <ion-item lines="none">
          <!-- <ion-icon  style="margin-left: 30px; zoom: 1.6;" color='white' slot="start" src='assets/icon/sms3.svg'></ion-icon> -->
          <ion-icon slot="start" style="margin-left: 6vh; zoom: 1.2;" color='white' name="chatbox-outline"></ion-icon>
          Chat
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-icon  style="margin-left: 30px; zoom: 1.4;" color='white' slot="start" src='assets/icon/dollar3.svg'></ion-icon> -->
          <ion-icon slot="start" style="margin-left: 6vh; zoom: 1.2" color='white' name="pricetag-outline"></ion-icon>
          Get a Quote
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer style="height: 15vh;">
      <ion-item lines="none">
        <ion-thumbnail style="display: block; height: 60px; width: 140px; margin-left: auto; margin-right: auto;">
          <ion-img src="assets/icon/veronica2.png"></ion-img>
        </ion-thumbnail>
      </ion-item>
  </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
