<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  
  <div class="flex">
  <ion-card style="align-self: center !important; width:99%;box-shadow:rgba(0, 0, 0, 0.0) 0px 4px 16px;">
    <div class="ion-text-center">
      <img src="assets/icon/driving.svg" />
    </div>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Customer Info</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ 'scan.title' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-chip  class="enableNext" size="large"  (click)='scan()' >
        <ion-label class="next">{{ 'scan.scan' | translate }}</ion-label>
      </ion-chip>
      <!-- <ion-chip  class="enableNext" size="large"  (click)='scan2()' >
        <ion-label class="next">{{ 'scan.scan' | translate }}</ion-label>
      </ion-chip> -->
      <ion-chip  class="enableNext" size="large"   routerLink='/primary-name' >
        <ion-label class="next">Manual</ion-label>
      </ion-chip>
      <!-- <div> -->
        <ion-chip  class="enableNext" size="large"   routerLink='/pwa-scan' >
          <ion-label class="next">PwaScan</ion-label>
        </ion-chip>
        <!-- <div> -->
        <!-- <scandit-sdk-barcode-picker [scanSettings]="settings"
        (scan)="onScan($event)"
        (error)="onError($event)"></scandit-sdk-barcode-picker> -->
       
        <!-- <a class="button" id="startButton">Start</a> -->
        <!-- <ion-button id="startButton">Start Scan</ion-button>
        <a class="button" id="resetButton">Reset</a> -->
      <!-- </div> -->

      <!-- <div>
        <video id="video" width="300" height="200" style="border: 1px solid gray"></video>
      </div> -->
<!-- 
      <div id="sourceSelectPanel" style="display:none">
        <label for="sourceSelect">Change video source:</label>
        <select id="sourceSelect" style="max-width:400px">
        </select>
      </div>

      <label>Result:</label>
      <pre><code id="result"></code></pre> -->
    </ion-card-content>
  </ion-card>
</div>

<!-- <script type="text/javascript"> -->

<!-- </script> -->
</ion-content> 
