<ion-content class="color">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="textColor">{{ 'relationship.title' | translate }} Ali {{ 'relationship.title2' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='relationshipStatus'>
              <div class="toggle" (change)="changeStatus($event)">
                <div>
                  <input type="radio" formControlName="relationship" value="C" id='children' />
                  <label for="children">{{ 'relationship.child' | translate }}</label>
                </div>
                <div style="margin-top: 10px;">
                  <input type="radio"formControlName="relationship" value='S' id='wife' />
                  <label for="wife">{{ 'relationship.spouse' | translate }}</label>
                </div>
              </div> 
            </form>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-back-button defaultHref="add-another-driver/dob"></ion-back-button>
                  </div>
                  <div class="ion-text-end">
                    <ion-chip class="background" routerLink='/add-another-driver/education' (click)="getDriverRelationshipNextClick()">
                      <ion-label class="text">{{ 'PRIMARY-NAME.next' | translate }}</ion-label>
                    </ion-chip>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>