<ion-content class="color">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="textColor">{{ 'SecoundaryDriverInformation.title' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='primaryName'>
              <ion-input class="roundedInput input-lg" formControlName='firstName' placeholder="{{ 'SecoundaryDriverInformation.name' | translate }}"></ion-input>
            </form>
            <!-- <ion-input class="roundedInput" placeholder="{{ 'PRIMARY-NAME.lastName' | translate }}"></ion-input> -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-button fill="clear"  routerLink='/add-another-driver' routerDirection="back"> <small>{{ 'PRIMARY-NAME.back' | translate }} </small><ion-icon slot="start" name="arrow-back"></ion-icon> </ion-button>
                    <!-- <ion-back-button defaultHref="add-another-driver"></ion-back-button> -->
                  </div>
                  <div class="ion-text-end" *ngIf='primaryName.status === "INVALID"'>
                    <ion-button fill="clear" (click)="getErrorTost()"><small>{{ 'PRIMARY-NAME.next' | translate }}</small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-chip class="background" (click)="getErrorTost()">
                      <ion-label class="text">{{ 'Education.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                  <div class="ion-text-end" *ngIf='primaryName.status !== "INVALID"'>
                    <ion-button fill="clear" (click)="getUserNameNextClick()" routerLink='/add-another-driver/dob'><small>{{ 'PRIMARY-NAME.next' | translate }}</small><ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-chip class="background" (click)="getUserNameNextClick()" routerLink='/add-another-driver/dob'>
                      <ion-label class="text">{{ 'PRIMARY-NAME.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>