<ion-content >
  <div class="flex">
  <ion-card style="align-self: center !important; width:99%;box-shadow:rgba(0, 0, 0, 0.0) 0px 4px 16px;">
    <div class="ion-text-center">
      <ion-progress-bar color='danger' value="0.5" style="margin-bottom: 3vh;"></ion-progress-bar>
      <img src="assets/icon/user-cloud.png" />
    </div>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Customer Info</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ 'PRIMARY-NAME.title' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]='primaryName'>
        <ion-input class="roundedInput input-lg" (input)="validateFirstname($event)" style="padding-left: 10px;" formControlName='firstName' placeholder="{{ 'PRIMARY-NAME.firstName' | translate }}"></ion-input>
        <ion-input class="roundedInput" (input)="validateLastname($event)" formControlName='lastName' placeholder="{{ 'PRIMARY-NAME.lastName' | translate }}"></ion-input>
      </form>
    </ion-card-content>
    <ion-card-header>
      <ion-chip *ngIf="firstNameError || lastNameError" class="disableNext" size="large" color="danger" (click)="getErrorTost()" >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
      <!-- Enable Button -->
      <ion-chip *ngIf="!firstNameError && !lastNameError" class="enableNext" size="large"  (click)="getUserNameNextClick()" routerLink='/date-of-birth' >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-progress-bar color='danger' value="0.5"></ion-progress-bar>
  </ion-card>
</div>
</ion-content>