<ion-content class="color">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="textColor">{{ 'HomeOwner.title' | translate }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='houseOwner'>
              <div class="toggle" (change)="changeStatus($event)">
                <div>
                  <input type="radio" formControlName="owner" value="O" id='yes-owner' />
                  <label for="yes-owner">{{ 'HomeOwner.yes' | translate }}</label>
                </div>
                <div style="margin-top: 10px;">
                  <input type="radio" formControlName="owner" value='R' id='rent' />
                  <label for="rent">{{ 'HomeOwner.no' | translate }}</label>
                </div>
              </div>
            
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="ion-text-start" style="float: left;">
                      <ion-button fill="clear"  routerLink='/driver-education' routerDirection="back"> <small>{{ 'PRIMARY-NAME.back' | translate }} </small><ion-icon slot="start" name="arrow-back"></ion-icon> </ion-button>
                      <!-- <ion-back-button defaultHref="driver-education"></ion-back-button> -->
                    </div>
                    <div class="ion-text-end" *ngIf='!select'>
                      <ion-button fill="clear" (click)="getErrorTost()"><small>{{ 'PRIMARY-NAME.next' | translate }} </small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    </div>
                    <div class="ion-text-end" *ngIf='select'>
                      <ion-button fill="clear"  routerLink='/accident-info' (click)="getUserHomeOwnerStatusNextClick()"><small>{{ 'PRIMARY-NAME.next' | translate }}</small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
