<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div>
  <ion-card style="align-self: center !important;box-shadow:rgba(0, 0, 0, 0.0) 0px 4px 16px;">
    <div class="ion-text-center">
      <ion-progress-bar color='danger' value="0.3" style="margin-bottom: 3vh;"></ion-progress-bar>
    </div>
    <div style="align-self: flex-start !important; align-items: start;display: table-cell !important;">
      <ion-back-button defaultHref='/referring' slot="start"></ion-back-button>
    </div>
    <div class="ion-text-center">
      <img src="assets/icon/user-cloud.svg" />
    </div>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">REFFER NFO</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Which person do you want to reffer?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]='referredPerson'>
        <ion-input class="roundedInput input-lg capital" (input)="validateReferredName($event)" style="padding-left: 10px; " formControlName='name' placeholder="Full Name"></ion-input>
        <ion-input class="roundedInput capital" [brmasker]="{mask:'(000) 000-0000', len:14, type:'num'}" (input) = "validatePhone($event)" formControlName='phone' placeholder="Phone"></ion-input>
      </form>
    </ion-card-content>
    <ion-card-header>
      <ion-chip *ngIf="bothValidation" class="disableNext" size="large" color="danger" (click)="getErrorTost()" >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
      <!-- Enable Button -->
      <ion-chip *ngIf="!bothValidation" class="enableNext" size="large"  (click)="getQuote()"  >
        <ion-label class="next">NEXT</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-progress-bar color='danger' value="0.25"></ion-progress-bar>
  </ion-card>
</div>
</ion-content>
