

<ion-content class="background-color">
  <!-- <div class="background-color"> -->
  <div style = "height: 20vh;">
  </div>
  <ion-slides pager='true'>
    <ion-slide>
      <div class="slide">
        <div class="center">
          <img src="assets/icon/welcome.png" class="img-class" />
        </div>
        <div >
          <h2 class="haeding">Welcome</h2>
          <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <div class="center">
          <img src="assets/icon/three.png" class="img-class" />
        </div>
        <div >
          <h2 class="haeding">What is Ionic?</h2>
          <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
        </div>
        
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <div class="center">
       <img src="assets/icon/getStart.png" class="img-class" />
       
          </div>
          <div >
            <h2 class="haeding">Ready to Start?</h2>
            <ion-button fill="clear"  (click)='finish()' routerLink='/primary-name'>Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </div>
        
      </div>
    </ion-slide>

  </ion-slides>
<!-- </div> -->
</ion-content>