<ion-content class="color" >
  <ion-card class="card">
    <ion-card-header >
      <ion-card-title class="textColor">{{ 'AddAnOtherDriver.title' | translate }}</ion-card-title>
      <ion-card-subtitle>{{ 'AddAnOtherDriver.subtitle' | translate }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content >
      <ion-grid >
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
          
              <ion-card  style="background:white;">             
                <ion-card-content>
                  <ion-icon name="person-circle-outline" style="zoom:3.0;"></ion-icon>
                  <!-- <ion-label>{{customerFirstName}}</ion-label> -->
                  <P style="text-align: left; color: red;">{{customerFirstName}}</P>
                </ion-card-content>
              </ion-card>
       
            <div *ngFor="let d of existingListOfDrivers">
              <ion-card  style="background:white;">             
                <ion-card-content>
                  <ion-icon name="person-circle-outline" style="zoom:3.0;"></ion-icon>
                  <P style="text-align: left; color: red;">{{d.driverData.dName}}</P>
                  <!-- <ion-label>{{d.driverData.dName}}</ion-label> -->
                </ion-card-content>
              </ion-card>
            </div>
            <ion-button (click)="addAnotherDriver()">{{ 'AddAnOtherDriver.button' | translate }}</ion-button>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-button fill="clear"  routerLink='/accident-info' routerDirection="back"> <small>{{ 'PRIMARY-NAME.back' | translate }} </small><ion-icon slot="start" name="arrow-back"></ion-icon> </ion-button>
                    <!-- <ion-back-button defaultHref="accident-info"></ion-back-button> -->
                  </div>
                  <div class="ion-text-end">
                    <ion-button fill="clear" routerLink='/vehicle-splash'> <small>{{ 'PRIMARY-NAME.next' | translate }} </small> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                    <!-- <ion-chip class="background" routerLink='/vehicle-splash'>
                      <ion-label class="text">{{ 'Accident.next' | translate }}</ion-label>
                    </ion-chip> -->
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
