<ion-content class="color" >
  <ion-card class="card">
    <ion-card-header >
      <ion-card-title class="textColor">{{ 'Finance.title' | translate }}</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <ion-grid >
        <ion-row >
          <ion-col size-md='4' offset-md='4'>
            <form [formGroup]='financeMode'>
              <div class="toggle">
                <div>
                  <input type="radio" formControlName="finance" value="Y" id='accidentYes' />
                  <label for="accidentYes">{{ 'Finance.makingPayment' | translate }}</label>
                </div>
                <div style="margin-top: 10px;">
                  <input type="radio" formControlName="finance" value='N' id="accidentNo" />
                  <label for="accidentNo">{{ 'Finance.paidOff' | translate }}</label>
                </div>
              </div> 
            </form>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="ion-text-start" style="float: left;">
                    <ion-back-button defaultHref="miles-per-day"></ion-back-button>
                  </div>
                  <div class="ion-text-end">
                    <ion-chip class="background" routerLink='/add-another-vehicle' (click)="financeModeNextClick()">
                      <ion-label class="text">{{ 'Accident.next' | translate }}</ion-label>
                    </ion-chip>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
  
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
