.left{
    float: left;
}
.back{
    background: #f52a41;
}
.text{
    color: white;
}
.card{
    background-color: white;
    margin-top: 11vh;
}
ion-slides {
    --bullet-background-active: red;
}
.nopadding{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}