
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="color">

<ion-card> 
  <ion-card-content class="nopadding">
    <ion-list>
      <ion-item lines="none">
        <ion-icon  slot="start" style=" zoom: 1.2;" name="document-text-outline"></ion-icon>
        <ion-label>
          <h2 style="font-size: 1.3rem;">Quote ID</h2>
          <p>{{quoteId}}</p>
      </ion-label>
      <!-- <ion-icon name="copy-outline" slot="end" (click)='copy()'></ion-icon> -->
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
        <ion-card *ngFor="let p of price; let i = index" style="background: linear-gradient(180deg, rgba(215,0,32,1) 0%, rgba(228,49,55,1) 53%, rgba(237,130,134,1) 100%);"> 
        <ion-card-content>
          <ion-row>
            <ion-col size="7">
              <ion-avatar style="background: linear-gradient(360deg, rgba(215,0,0,1) 0%, rgba(215,0,57,1) 35%, rgba(255,0,71,1) 100%);border: 1px solid rgba(255,0,71,1) ;">
                <ion-img src="assets/icon/tag3.svg" style="padding: 15px;"></ion-img>
                <!-- <ion-icon  style=" zoom: 3.5;" color='danger' name="cash-outline" ></ion-icon> -->
              </ion-avatar>
            </ion-col>
            <ion-col>
              <!-- <p style="font-size: 2rem;"> -->
                <h1 style="color:white; font-size: 1.4rem;"><span style="font-size: 0.7rem;">$</span>{{p}}<span style="font-size: 0.7rem;">/MON</span></h1>
                <!-- ${{p}} -->
              <!-- </p> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p style=" color:white;font-size: 1rem;">
                Details here
              </p>
            </ion-col>
          </ion-row>
        </ion-card-content>
          <!-- <ion-card-header>
            <ion-card-title class="ion-text-center"></ion-card-title>
          </ion-card-header> -->
        </ion-card>
    <!-- </div> -->
  <!-- </ion-slide>
</ion-slides> -->
<!-- <ion-slides pager='true' style="height: 61vh;">
    <ion-slide *ngFor="let p of prices; let i = index">
      <div class="slide">
          <ion-card class="back" style="width: 90vw; height: 60vh;"> 
            <ion-card-header class="back" style="height: 40%;">
              <h1 style="color: white; margin-top: 15%; font-size: 3rem;" *ngIf='i == 0'>BASIC</h1>
              <h1 style="color: white; margin-top: 15%; font-size: 3rem;" *ngIf='i == 1'>STANDARD</h1>
              <h1 style="color: white; margin-top: 15%; font-size: 3rem;" *ngIf='i == 2'>PRIMIUM  </h1>
            </ion-card-header>
            <ion-card-content style="height: 60%; background: white;">
              <ion-row style="height: 40%;"> 
                <ion-col>
                  <h1 style=" padding-top: 1vh; font-size: 3rem;"><span style="font-size: 1.5rem;">$</span>{{p}}<span style="font-size: 1rem;">/MON</span></h1>
                </ion-col>
              </ion-row>
               <hr style="  border: 0;
               clear:both;
               display:block;
               width: 100%;               
               background-color:black;
               height: 1px;">
               <p  style=" margin-top: 10vh;">DETAILS HERE</p>
            </ion-card-content>
          </ion-card>
      </div>
    </ion-slide>
</ion-slides> -->
<!-- <ion-slides >
  <ion-slide> -->
    <ion-card style="width: 92vw;box-shadow:rgba(0, 0, 0, 0.0) 0px 0px 0px; margin-top: 0;">
      <ion-row >
        <ion-col>
          <ion-chip class="enableNext" style="width: 100%; display: flex; " color="danger" (click)='sendEmail()'>
            <ion-icon name="mail" style=" margin-left: auto; "></ion-icon>
            <ion-label color="dark" style=" margin-right: auto;color: white; ">Email Quote</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip class="enableNext" style="width: 100%;display: flex;" color="danger" (click)='agentPhone()'>
            <ion-icon name="call" style=" margin-left: auto; "></ion-icon>
            <ion-label color="dark" style=" margin-right: auto;color: white; ">Call Agent</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-card>
  <!-- </ion-slide>
</ion-slides> -->


  <!-- <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="textColor">{{ 'Quote.title' | translate }}: {{quoteId}} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-slides pager='true'>
            <ion-slide>
              <div class="slide">
                <ion-col> 
                  <ion-card class="back"> 
                     <ion-card-header class="back">
                      <ion-grid>
                        <ion-row>
                          <ion-icon name="pricetags-outline" size="large" class="text left"></ion-icon>
                          <ion-title class="text left">${{p}}</ion-title>
                      </ion-row>
                      </ion-grid>
                    <ion-card-subtitle class="text" text-center>
                      Quote No: {{i+1}}
                    </ion-card-subtitle>
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </div>
            </ion-slide>
        
            <ion-slide>
              <div>
                <div class="center">
                  <img src="assets/icon/three.svg" class="img-class" />
                </div>
                <div >
                  <h2 class="haeding">Simple & Easy</h2>
                  <div style="width: 90vw;">
                    <p style="color: white;">Add information about yourself,your cars, drivers and you are done.</p>
                  </div>
                </div>
              </div>
            </ion-slide>
        
            <ion-slide>
              <div>
                <div class="center">  
                  <img src="assets/icon/getStart.svg" class="img-class" />
               </div>
                <div >
                  <h2 class="haeding">Ready to Start?</h2>
                  <ion-button fill="clear"  (click)='finish()' style="color: white;" routerLink='/primary-name'>Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
                </div>
              </div>
            </ion-slide>
        
          </ion-slides> -->
          <!-- <ion-col class="col-md-4" *ngFor="let p of price; let i = index"> -->
            <!-- <ion-col class="col-md-4" > -->
            <!-- <ion-card class="back"> -->
              <!-- <ion-card-header class="back">
                <ion-grid>
                  <ion-row>
                    <ion-icon name="pricetags-outline" size="large" class="text left"></ion-icon>
                    <ion-title class="text left">${{p}}</ion-title>
                </ion-row>
                </ion-grid>
              <ion-card-subtitle class="text" text-center>
                Quote No: {{i+1}}
              </ion-card-subtitle>
              </ion-card-header>
            </ion-card> -->
          <!-- </ion-col> -->
        <!-- </ion-row>
        <ion-row>
          <ion-col>
            <ion-chip color="secondary" (click)='sendEmail()'>
              <ion-icon name="mail-outline"></ion-icon>
              <ion-label color="dark">Email Quote</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col>
            <ion-chip color="secondary" (click)='agentPhone()'>
              <ion-icon name="call-outline"></ion-icon>
              <ion-label color="dark">Call Agent</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
    
      </ion-grid> -->
  
    <!-- </ion-card-content>
  </ion-card>
   -->
 
</ion-content>
